<proffeo-modal [title]="'change-your-password' | translate">
  <form
    [formGroup]="resetPasswordForm"
    class="flex flex-col gap-2 w-full"
  >
    <div class="flex flex-col gap-1">
      <div class="relative flex items-center border-default">
        <input
          #oldPasswordfield
          placeholder="{{ 'current-password' | translate }}"
          type="password"
          formControlName="oldPassword"
          class="w-full p-2"
        />
        @if (oldPasswordfield.type === 'password' && oldPasswordfield.value.length > 0) {
          <mat-icon
            (click)="oldPasswordfield.type = 'text'; $event.stopPropagation()"
            fontIcon="visibility"
            class="absolute right-2 top-1/2 -translate-y-1/2 transform cursor-pointer opacity-50 hover:opacity-75"
          ></mat-icon>
        } @else if (oldPasswordfield.type === 'text' && oldPasswordfield.value.length > 0) {
          <mat-icon
            (click)="oldPasswordfield.type = 'password'; $event.stopPropagation()"
            fontIcon="visibility_off"
            class="absolute right-2 top-1/2 -translate-y-1/2 transform cursor-pointer opacity-50 hover:opacity-75"
          ></mat-icon>
        }
      </div>

      @if (
        resetPasswordForm.get('oldPassword')?.hasError('required') && resetPasswordForm.get('oldPassword')?.touched
      ) {
        <p class="text-sm font-light text-error">
          {{ 'ui-forms-this-field-is-required' | translate }}
        </p>
      }
    </div>

    <div class="flex flex-col gap-1">
      <div class="relative flex items-center border-default">
        <input
          #passwordField
          placeholder="{{ 'reset-password-new-password' | translate }}"
          type="password"
          formControlName="newPassword"
          class="w-full p-2"
        />
        @if (passwordField.type === 'password' && passwordField.value.length > 0) {
          <mat-icon
            (click)="passwordField.type = 'text'; $event.stopPropagation()"
            fontIcon="visibility"
            class="absolute right-2 top-1/2 -translate-y-1/2 transform cursor-pointer opacity-50 hover:opacity-75"
          ></mat-icon>
        } @else if (passwordField.type === 'text' && passwordField.value.length > 0) {
          <mat-icon
            (click)="passwordField.type = 'password'; $event.stopPropagation()"
            fontIcon="visibility_off"
            class="absolute right-2 top-1/2 -translate-y-1/2 transform cursor-pointer opacity-50 hover:opacity-75"
          ></mat-icon>
        }
      </div>

      @if (
        resetPasswordForm.get('newPassword')?.hasError('required') && resetPasswordForm.get('newPassword')?.touched
      ) {
        <p class="text-sm font-light text-error">
          {{ 'ui-forms-this-field-is-required' | translate }}
        </p>
      }

      @if (
        resetPasswordForm.get('newPassword')?.hasError('password') && resetPasswordForm.get('newPassword')?.touched
      ) {
        <p class="text-sm font-light text-error max-w-80">
          {{ 'password-validation-message' | translate }}
        </p>
      }
    </div>

    <div class="flex flex-col gap-1">
      <div class="relative flex items-center border-default">
        <input
          #passwordConfirmField
          placeholder="{{ 'reset-password-new-password-confirm' | translate }}"
          type="password"
          formControlName="confirmPassword"
          class="w-full p-2"
        />
        @if (passwordConfirmField.type === 'password' && passwordConfirmField.value.length > 0) {
          <mat-icon
            (click)="passwordConfirmField.type = 'text'; $event.stopPropagation()"
            fontIcon="visibility"
            class="absolute right-2 top-1/2 -translate-y-1/2 transform cursor-pointer opacity-50 hover:opacity-75"
          ></mat-icon>
        } @else if (passwordConfirmField.type === 'text' && passwordConfirmField.value.length > 0) {
          <mat-icon
            (click)="passwordConfirmField.type = 'password'; $event.stopPropagation()"
            fontIcon="visibility_off"
            class="absolute right-2 top-1/2 -translate-y-1/2 transform cursor-pointer opacity-50 hover:opacity-75"
          ></mat-icon>
        }
      </div>

      @if (
        resetPasswordForm.get('confirmPassword')?.hasError('required') &&
        resetPasswordForm.get('confirmPassword')?.touched
      ) {
        <p class="text-sm font-light text-error">
          {{ 'ui-forms-this-field-is-required' | translate }}
        </p>
      }

      @if (
        resetPasswordForm.get('confirmPassword')?.hasError('passwordsMustMatch') &&
        resetPasswordForm.get('confirmPassword')?.touched
      ) {
        <p class="text-sm font-light text-error">
          {{ 'confirm-password-does-not-match-password' | translate }}
        </p>
      }
    </div>
  </form>
  <div
    modal-actions
    class="flex w-full justify-end gap-2"
  >
    <div class="flex w-full items-center justify-end gap-2">
      <proffeo-button
        text="close"
        matDialogClose
      ></proffeo-button>
      <proffeo-button
        [type]="ButtonType.ACCENT"
        [disabled]="resetPasswordForm.invalid"
        text="change-password"
      ></proffeo-button>
    </div>
  </div>
</proffeo-modal>
