<div class="flex flex-col gap-10 py-10 px-5 w-full">
  <div class="flex w-full justify-between items-center">
    <p class="font-medium text-xl">{{ 'task-filters.filters' | translate }}</p>
    <mat-icon
      (click)="closeClicked.emit()"
      fontIcon="close"
      class="cursor-pointer hover:text-accent! transition-default"
    ></mat-icon>
  </div>

  <proffeo-task-filters></proffeo-task-filters>

  <div class="flex items-center justify-end gap-5 w-full">
    <proffeo-button
      (click)="clearFilters()"
      text="Clear filters"
    ></proffeo-button>
    <proffeo-button
      (click)="onSearchClick()"
      [type]="ButtonType.ACCENT"
      text="Search"
    ></proffeo-button>
  </div>
</div>
