mat-dialog-content {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  scrollbar-color: #d4d4d4 #fafafa;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #fafafa;
}

*::-webkit-scrollbar-thumb {
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: #dddddd;
}
