<proffeo-modal [title]="'project-locations.modals.select-multiple-locations-modal-title' | translate">
  <div class="flex flex-col gap-2">
    <mat-checkbox
      (change)="toggleAllLocations($event)"
      [checked]="isAllSelected()"
    >
      {{ 'ui-forms-select-all' | translate }}
    </mat-checkbox>

    <mat-checkbox
      (change)="onNoLocationChange($event)"
      [checked]="noLocation()"
      class="flex items-center"
    >
      {{ 'task-filters.emptyValue' | translate }}
    </mat-checkbox>

    <proffeo-select-locations-list
      (locationSelected)="addLocation($event)"
      (locationRemoved)="removeLocation($event)"
      [selectedLocations]="selectedLocations()"
      [locations]="parentLocations()"
      [collapseAll]="collapseAll()"
    ></proffeo-select-locations-list>
  </div>
  <div
    modal-actions
    class="flex w-full justify-end gap-2"
  >
    <proffeo-button
      text="close"
      matDialogClose
    ></proffeo-button>
    <proffeo-button
      (click)="save()"
      [type]="ButtonType.ACCENT"
      text="save-and-close"
    ></proffeo-button>
  </div>
</proffeo-modal>
